h1 {
    font-family: $raleway;
    font-size: $xx-large;
    font-weight: $light;
    color: $white;
    text-align: center;
}
h2 {
    font-family: $raleway;
    font-size: $x-large;
    font-weight: $bold;
    color: $white;
    text-align: center;
}
h3 {
    font-family: $raleway;
    font-size: $large;
    font-weight: $bold;
    color: $white;
    text-align: center;
}
h4 {
    font-family: $raleway;
    font-size: 52px;
    font-weight: $bold;
    text-align: center;
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
}
