.article-2 {
    max-height: 66rem;
    padding-top: 7.25rem;
    padding-bottom: 4.813rem;
    color: $granite_gray;
    text-align: center;
    img {
        width: 72.7vw;
    }
    p {
        text-align: left;
        margin: auto;
        width: 43.85vw;
    }
}